NODE_ENV=development
PORT=3000
LOG_LEVEL=debug
MONGO_URI=mongodb://username:yourpassword@localhost:27017/yourdbname?authSource=admin
CENTRAL_LOG_TOKEN=your-central-log-token
SALT_ROUNDS=10
REFRESH_TOKEN_SECRET=your-refresh-token-secret
ACCESS_TOKEN_SECRET=your-access-token-secret
REFRESH_TOKEN_EXPIRES_IN=7d
ACCESS_TOKEN_EXPIRES_IN=15m
JWT_ISSUER=yourdomain
JWT_AUDIENCE=yourdomain